// CORES
$cor-primaria: #8E2424;
$cor-secundaria: #101828;
$cor-terciaria: #667085;
$cor-logo: #3A404E;
$cor-botao: #fff;
$cor-texto-footer: #98A2B3;
$cor-bg-footer: #F9FAFB;
$cor-bg: rgba(142, 36, 36, 0.05);
$cor-bg-comentario: rgba(195, 25, 25, 0.03);



$cor-de-borda: #EAECF0;


// FONTES
$fonte-principal: 'Inter', sans-serif;